.home
	background: #315063
	height: 803px
	display: flex
	justify-content: center
	align-items: center

.frame
	background: #008ec9
	color: #ffffff
	height: 200px
	width: 200px
	border-radius: 100px
	display: flex
	justify-content: center
	align-items: center
	font-size: 30px
